Flask
Flask-SQLAlchemy
Werkzeug
Authlib
Flask-WTF
Flask-Talisman
Flask-Limiter
Flask-Caching
Flask-Compress
python-dotenv
requests
gunicorn
boto3
Pillow
pandas
APScheduler
filetype
redis
pywebpush
Flask-Babel